# upstream for uWSGI
upstream uwsgi_app {
    server unix:/code/stellr/uwsgi_app.sock;
}

server {
    listen          80;
    server_name    107.170.16.225;

    location / {
        include     /etc/nginx/uwsgi_params;
        uwsgi_pass  uwsgi_app;
    }

    location /static/ {
        alias   /code/static/prod/;
    }

    location /media/ {
        alias   /code/media/prod/;
    }
}