{% load static %}
{% load i18n %}
{% load comments %}

{% if request.user.is_authenticated %}

<form class="comment-form rounded" method="POST" action="{% comment_form_target %}" data-csrf-token="{{ csrf_token }}" onsubmit="post.disabled = true; return true;">
    {% csrf_token %}
    <fieldset>
        
        <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}" />
        
        <div class="alert alert-danger" data-comment-element="errors" hidden></div>
        
        {% for field in form %}
            {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
        {% endfor %}
       
        <div style="display:none">{{ form.honeypot }}</div>
        
        <div class="row form-group justify-content-center m-0">
            <textarea class="comment-form-textarea form-control border-0 shadow-none"
                id="id_comment"
                name="comment"
                rows="3"
                placeholder="Float an idea..."
                required
            >{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
            {% if 'comment' in form.errors %}<span class="form-text small invalid-feedback">{{ form.errors.comment.0 }}</span>{% endif %}
        </div>

        <div class="row form-group m-2 p-0">
            <div class="d-flex justify-content-end m-0 p-0">
                <button class="comment-submit-button btn btn-sm rounded-circle" type="submit" name="post" value="Float">
                    <i class="bi bi-arrow-up-circle-fill m-0 p-0"></i>
                </button>
            </div>
        </div>
        
    </fieldset>
</form>

{% else %}

    <p><a href="{% url 'login' %}?next={{ request.path|urlencode }}">Login</a> to post a comment.</p>

{% endif %}

