{% extends "base.html" %}
{% load static %}

{% block title %} stllr | forum | {{ page.title }}{% endblock title %}

{% block content %}
    {% if page.is_active %}

        <div class="mb-sm-5 mb-3">
            {% include 'page/card.html' with compact=True %}
        </div>

        <div class="my-3">
            {% include "posts/form.html" with parent=None %}
        </div>

        <div id="postFeed">
            {% for post in page.posts.all %}
                {% if post.thread_level == 0 %}
                    {% include "posts/post.html" %}
                {% endif %}
            {% endfor %}
        </div>

    {% else %}
        <p>The forum at this page has been suspended.</p>
    {% endif %}
{% endblock content %}