{% extends "base.html" %}
{% load static %}

{% block title %} stllr | forum | {{ page.title }}{% endblock title %}

{% block content %}
    {% if page.is_active %}

        {% include 'page/card.html' with compact=True standalone=True %}

        <!-- Done by Claude, requires review -->
        <div class="ms-4 ms-sm-5">

            {% include "post/form.html" with parent=None %}

            <div id="postFeed">
                <!-- Done by Claude, requires review -->
                {% for post in posts %}
                    {% include "post/card.html" %}
                {% endfor %}
            </div>

        </div>

    {% else %}
        <p>The forum at this page is suspended.</p>
    {% endif %}
{% endblock content %}