{% load markdown_deux_tags %}

<form id="comment-form-{{ parent.id }}" class="comment-form p-0 my-3" method="post" action="{% url "comments:post" page.id %}" data-parent-id="{{ parent.id }}">
    {% csrf_token %}
    <input type="hidden" name="parent" value="{{ parent.id|default:'' }}">
    <textarea class="comment-form-textarea form-control border-0 shadow-none m-0"
        name = "content"
        rows = "1"
        placeholder="Reach for the stars..."
        required></textarea>
    <div class="comment-form-buttons text-end">
        <button class="comment-cancel-button btn btn-sm rounded-pill m-2" type="button" onclick="closeCommentForm(this)">
            Cancel
        </button>
        <button class="comment-submit-button btn btn-sm rounded-pill m-2" type="submit">
            Comment
        </button>
    </div>
</form>