{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

    {% if profile.photo %}
        {% thumbnail profile.photo 96x96 crop="smart" as im %}
        <img class="float-start me-3" src="{{ request.scheme }}://{{ request.get_host }}{{ im.url }}">
    {% else %}
    {% endif %}

    <h1>@{{ profile.user.username }}</h1>
    <h2 class="text-secondary">{{ profile.bio }}</h2>
    {% if request.user == profile.user %}
        <a href="{% url "edit" %}">Edit your profile</a><br>
        <a href="{% url "account_reset_password" %}">Change your password</a>
    {% endif %}

{% endblock content %}