:root {
    --night-sky: #060d1a;
    --star-light: #a594d0;
    --white-hot: #fffae6;

    --navbar-height: 115px;
}

body {
    background-color: var(--night-sky);
    color: white;
    scrollbar-color: auto transparent;
}

[id] { scroll-margin-top: 150px; }

.glass {
    background: none !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(165, 148, 208, 0.3); /* --star-light at low opacity */
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
}



a, a:hover,
.nav-link, .nav-link:hover {
    color: var(--star-light);
}

h1:has(a) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
h1 a {
    color: var(--star-light);
    font-weight: 300;
    text-decoration: none;
}
h1 a:hover {
    text-decoration: underline;
}

.bi-globe {
    font-size: 32px;
}

.spin {
    animation: spin 2s infinite linear;
    display: inline-block;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.collapsing {
    transition: height 0.25s ease;
}

.rounded-card {
    border-radius: 16px !important;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.search-form {
    width: 100%;
    max-width: 576px;
}

.glow-on-focus:has(:focus),
.glow-on-focus:focus {
    outline: none;
    border-color: var(--white-hot) !important;
    box-shadow: 0 0 10px var(--white-hot) !important;
    border: none;
}

.popover-dark {
    --bs-popover-bg: #212529;
    --bs-popover-header-bg: #343a40;
    --bs-popover-header-color: #fff;
    --bs-popover-body-color: #fff;
    --bs-popover-border-color: #495057;
    --bs-popover-arrow-border: #495057;
}

.star-button:has(.bi-star-fill) {
    background-color: var(--white-hot);
    color: var(--night-sky);
    box-shadow: 0 0 5px 1px white;
    text-shadow: 0 0 3px var(--night-sky);
}

.help-block, .form-text {
    color: rgba(255, 255, 255, 0.5) !important;
}