:root {
    --iridescent-0: #070421;
    --iridescent-1: #030a5d;
    --iridescent-2: #4246aa;
    --iridescent-3: #7c70d5;
    --iridescent-4: #d2c6e8;
}

body {
    background-color: var(--iridescent-0);
    color: white;
    scrollbar-color: auto transparent;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: white;
    border: 2px solid transparent;
    background-clip: padding-box;
}

a {
    color: var(--iridescent-3);
}

.glass {
    background-color: rgba(var(--iridescent-0), 0.1);
    backdrop-filter: blur(10px) brightness(33%);
    -webkit-backdrop-filter: blur(10px) brightness(33%);
}

.shine {
    text-shadow: 0 0 10px white;
}

.spin {
    animation: spin 2s infinite linear;
    display: inline-block;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

.collapsing {
    transition: height 0.25s ease;
}

.rounded-card {
    border-radius: 16px !important;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.blur-content {
    filter: blur(5px);
}

.search-form {
    width: 100%;
    max-width: 576px;
}

.search-bar:focus,
textarea:focus {
    outline: none;
    border-color: white !important;
    box-shadow: 0 0 10px white !important;
}

.popover-dark {
    --bs-popover-bg: #212529;
    --bs-popover-header-bg: #343a40;
    --bs-popover-header-color: #fff;
    --bs-popover-body-color: #fff;
    --bs-popover-border-color: #495057;
    --bs-popover-arrow-border: #495057;
}
