{% load static %}
{% load humanize %}
{% load safe_markdown %}

<div id="post{{ post.id }}" class="post rounded-card mt-2 p-2">

    {% include "user/header.html" with user=post.user timestamp=post.created|naturaltime %}

    <div class="ms-4 my-2">

        {{ post.content|safe_markdown }}

        <div class="d-flex align-items-center">

            {% include "post/star_button.html" %}

            <a class="post-replies-button btn btn-sm btn-dark rounded-pill me-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#children{{ post.id }}"
                aria-expanded="false">
                <i class="bi bi-chat"></i>
                &nbsp;<span>{{ post.children.count }}</span>
            </a>

            <button class="post-reply-button btn btn-sm btn-transparent btn-dark rounded-pill fw-bold me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#reply-form-container-{{ post.id }}"
                aria-expanded="{% if expanded %}true{% else %}false{% endif %}">
                Reply
            </button>
            
        </div>

    </div>

    <div id="reply-form-container-{{ post.id }}" class="reply-form-container collapse mt-3 ps-4">
        {% include "post/form.html" with page=post.page parent=post %}
    </div>

    <div id="children{{ post.id }}" class="collapse {% if expanded %}show{% endif %} ps-4">
        {% for child in children|default:post.children.all %}
            {% include "post/card.html" with post=child %}
        {% endfor %}
    </div>

</div>