{% load static %}
{% load humanize %}
{% load utility_tags %}

<div id="post{{ post.id }}" class="post rounded-card mt-2 p-2" data-author-id="{{ post.author.id }}" data-post-url="{% url 'post_detail' post.id %}" style="cursor:pointer">

    {% include "user/header.html" with user=post.author timestamp=post.created|naturaltime %}

    <div class="ms-4 my-2">

        <div class="post-content {% if post.author.id in muted_user_ids %}d-none{% endif %}">
            {% if post.removed %}
                <p class="text-secondary fst-italic small">This post has been removed by {{ post.get_removed_by_display }}.</p>
            {% else %}
                {{ post.content|safe_markdown }}
            {% endif %}
        </div>
        <div class="post-content-muted {% if post.author.id not in muted_user_ids %}d-none{% endif %}">
            <p class="text-secondary fst-italic small">You have this user muted.</p>
        </div>

        <div class="d-flex align-items-center">

            {% include "post/star_button.html" %}

            <a class="post-replies-button btn btn-sm btn-dark rounded-pill me-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#children{{ post.id }}"
                aria-expanded="false">
                <i class="bi bi-diagram-3-fill"></i>
                &nbsp;<span>{{ post.children.count }}</span>
            </a>

            <button class="post-reply-button btn btn-sm btn-transparent btn-dark rounded-pill fw-bold me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#reply-form-container-{{ post.id }}"
                aria-expanded="{% if expanded %}true{% else %}false{% endif %}">
                Reply
            </button>

            <button id="post{{ post.id }}Dropdown"
                        class="dropdown-toggle no-caret btn btn-transparent btn-dark rounded-circle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="post{{ post.id }}Dropdown">
                {% include "share_button.html" with object_type="post" object_id=post.id %}
                {% if not post.removed %}
                    <li>
                        <a class="dropdown-item" href="{% url "governance:report_post" post.id %}" target="_blank">
                            <i class="bi bi-flag-fill me-2"></i>Report post
                        </a>
                    </li>
                    {% if request.user.is_authenticated and post.author != request.user %}
                        <li>
                            <form method="post" action="{% url 'mute_user' post.author.username %}">
                                {% csrf_token %}
                                <button type="submit" class="post-mute-button dropdown-item"
                                    data-author-id="{{ post.author.id }}"
                                    data-action="{% if post.author.id in muted_user_ids %}unmute{% else %}mute{% endif %}"
                                    data-csrf-token="{{ csrf_token }}"
                                    data-endpoint="{% url 'api:mute_user' %}">
                                    <i class="bi bi-bell-slash me-2"></i>
                                    <span>{% if post.author.id in muted_user_ids %}Unmute{% else %}Mute{% endif %} {{ post.author.username }}</span>
                                </button>
                            </form>
                        </li>
                    {% endif %}
                    {% if post.author == request.user %}
                        <li>
                            <a class="dropdown-item" href="{% url "forums:remove_post" post.id %}" target="_blank">
                                <span class="text-danger"><i class="bi bi-x-square-fill me-2"></i>Remove post</span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}

            </ul>
            
        </div>

    </div>

    <div id="reply-form-container-{{ post.id }}" class="reply-form-container collapse mt-3 ps-4">
        {% include "post/form.html" with page=post.page parent=post %}
    </div>

    <div id="children{{ post.id }}" class="collapse {% if expanded %}show{% endif %} ps-4">
        {% if reply %}
            {% include "post/card.html" with post=reply expanded=False reply=None %}
        {% else %}
            {% for child in post.children.all %}
                {% include "post/card.html" with post=child reply=None %}
            {% endfor %}
        {% endif %}
    </div>

</div>