{% extends "base.html" %}
{% load static %}

{% block title %}stllr | post by @{{ post.author.username }}{% endblock title %}

{% block content %}

{% include 'page/card.html' with page=post.page compact=True standalone=True threaded=True %}

{% for ancestor in ancestors %}
    {% include "post/card.html" with post=ancestor threaded=True %}
{% endfor %}

{% include "post/card.html" with post=post standalone=True %}

<div class="ms-4 ms-sm-5">

    {% include "post/form.html" with parent=post page=post.page %}

    <div id="children{{ post.id }}">
        {% for child in post.children.all %}
            {% include "post/card.html" with post=child reply=None %}
        {% endfor %}
    </div>

</div>

{% endblock content %}
