{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}edit your profile - stllr{% endblock title %}

{% block right %}
    {% include "profile/tabs.html" %}
{% endblock right %}

{% block content %}

    <h5>Edit your profile</h5>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy user_form %}
        {% crispy profile_form %}
        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'profile' request.user.username %}" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>

{% endblock content %}
