:root {
    --iridescent-0: #070421;
    --iridescent-1: #030a5d;
    --iridescent-2: #4246aa;
    --iridescent-3: #7c70d5;
    --iridescent-4: #d2c6e8;
}

a {
    color: var(--iridescent-3);
}

body {
    background-color: var(--iridescent-0);
    color: white;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.collapsing {
    transition: none !important;
}

.glass {
    background-color: rgba(var(--iridescent-0), 0.1);
    backdrop-filter: blur(10px) brightness(60%);
    -webkit-backdrop-filter: blur(10px) brightness(60%);
}

.float-bar {
    width: 300px;
    border-radius: 1rem;
    border-color: var(--iridescent-0);
}

.nav-link.selected {
    color: white;
    text-shadow: 0 0 10px white;
}

#sign-in-button {
    background-color: var(--iridescent-1);
}

#logout-button {
    color: var(--iridescent-2);
    background-color: transparent;
    border: 1px solid var(--iridescent-0);
    transition: background-color 160ms ease, color 160ms ease;
}
.logout-button:hover {
    color: var(--iridescent-0);
    background-color: var(--iridescent-2);
}

.page-star-button:has(.bi-star-fill),
.comment-star-button:has(.bi-star-fill) {
    box-shadow: 0 0 10px 2px white;
    text-shadow: 0 0 10px white;
}