#page-feed {
    max-width: 768px;
    min-height: 100vh;
}

.page-title {
    font-size: 1.5rem;
    color: var(--iridescent-4);
    text-decoration: none;
}
.page-title:hover {
    text-decoration: underline;
}

.page-link {
    color: white;
    line-height: 1;
}

img.page-fav-icon {
    float: left;
    height: 27px;
}

i.page-fav-icon {
    float: left;
    font-size: 27px;
}

.page-link,
.page-site-name {
    font-weight: 300;
    font-size: 0.75rem;
}

.page-image {
    float: left;
    height: 3.75rem;
    border-radius: 0.5rem;
}

