{% load thumbnail %}
{% load math_extras %}

{% if page.is_active %}
    <div id="p{{ page.id }}" class="page-card rounded-card">
        <div class="row m-0 p-0">
            <div class="col m-0 p-0">
                {% if page.domain.fav_icon %}
                    {% thumbnail page.domain.fav_icon 32x32 as im %}
                    <img class="page-fav-icon float-start bg-light rounded-circle me-1 my-1 p-1"
                        src="{{ request.scheme }}://{{ request.get_host }}{{ im.url }}">
                {% else %}
                    <i class="page-fav-icon float-start bi bi-globe me-1 mb-0 p-0"></i>
                {% endif %}
                <p class="page-site-name m-0 p-0">
                    <span>{{ page.domain }}</span>
                    {% if page.domain.category or page.type %}
                    <span class="domain-category badge text-bg-dark">
                        {% firstof page.domain.category|capfirst page.type|capfirst %}
                    </span>
                    {% endif %}
                </p>
                <a class="page-link d-block text-truncate mt-1 p-0" href="{{ page.link }}">{{ page.link }}</a>
            </div>
            <h1 class="page-title fw-normal m-0 p-0 {% if compact %}text-truncate{% endif %}">
                <a class="page-title" href="{{ page.link }}">
                    {{ page.title }}
                </a>
            </h1>
        </div>
        {% if not compact %}
        <div class="row m-0 p-0">
            <div class="col m-0 py-1 px-0">
                {% if page.image %}
                    {% thumbnail page.image 0x60 as im %}
                    <img class="page-image me-2"
                        src="{{ request.scheme }}://{{ request.get_host }}{{ im.url }}">
                {% endif %}
                <p class="page-description small m-0">

                    <span class="badge bg-transparent border">
                        <i class="bi bi-hash"></i>{{ page.brightness_index }}
                    </span>
                    <span class="badge bg-transparent border">
                        {% if page.rise >= 0 %}
                            <span class="{% if page.rise > 0 %}text-success{% else %}text-light{% endif %}"><i class="bi bi-arrow-up-short"></i>{{ page.rise }}</span>
                        {% else %}
                            <span class="text-danger"><i class="bi bi-arrow-down-short"></i>{{ page.rise|negate }}</span>
                        {% endif %}
                    </span>

                    {{ page.description|truncatechars:300 }}

                    <span class="page-tags m-0">
                        {% for tag in page.tags.all %}
                            <a href="/?tag={{ tag.slug }}">#{{ tag.name }}</a>&nbsp;
                        {% endfor %}
                    </span>
                </p>
            </div>
        </div>
        {% endif %}
        <div class="my-2 p-0">
            {% include 'page/star_button.html' with page=page user=user %}
            <a class="page-forum-button btn btn-sm btn-dark rounded-pill me-2"
                href="{{ request.scheme }}://{{ request.get_host }}{% url "forum" %}?p={{ page.canonical|urlencode }}">
                <i class="text-info bi bi-chat-left-text-fill"></i>
                <span>{{ page.comments.count }}</span>
            </a>
            <a class="page-room-button btn btn-sm btn-dark rounded-pill me-2"
                href="{{ request.scheme }}://{{ request.get_host }}{% url "room" %}?p={{ page.canonical|urlencode }}">
                <i class="text-danger bi bi-broadcast-pin"></i>
                <span>0</span>
            </a>
        </div>
    </div>
{% endif %}