{% load thumbnail %}
{% load math_extras %}

{% if page.is_active %}
    <div id="p{{ page.id }}">

        <div class="d-flex align-items-center">
            {% thumbnail page.domain.fav_icon 32x32 as icon %}{% if icon %}
                <img src="{{ icon.url }}" class="page-fav-icon bg-light rounded-circle flex-shrink-0">
            {% else %}
                <i class="bi bi-globe flex-shrink-0"></i>
            {% endif %}

            <div class="overflow-hidden ms-2">
                
                <div class="small">
                    {{ page.domain }}
                    {% if page.domain.category %}
                        <span class="badge small bg-dark">{{ page.domain.category }}</span>
                    {% elif page.type %}
                        <span class="badge small bg-dark">{{ page.type }}</span>
                    {% endif %}
                </div>

                <a class="d-block small text-truncate text-white text-decoration-none" href="{{ page.link }}">
                    {{ page.link }}
                </a>

            </div>

        </div>

        <h1 class="{% if compact %}text-truncate{% endif %}">
            <a href="{{ page.link }}">
                {{ page.title|truncatechars:90 }}
            </a>
        </h1>

        {% if not compact %}
            {% if page.image or page.description %}
                <div class="clearfix">
                    {% thumbnail page.image 0x63 as image %}{% if image %}
                        <img class="float-start me-2" src="{{ image.url }}">
                    {% endif %}
                    
                    <p class="small m-0 p-0">{{ page.description|truncatechars:300 }}</p>
                </div>
            {% endif %}
        {% endif %}

        <div class="d-flex align-items-center rounded-pill mt-3">

            {% include 'page/star_button.html' %}

            <a class="btn btn-outline-light rounded-pill me-2"
                href="{% url "forum" %}?p={{ page.canonical|urlencode }}">
                <i class="bi bi-chat-fill"></i>
                &nbsp;<span>{{ page.posts.count }}</span>
            </a>

            <a class="btn btn-outline-light rounded-pill"
                href="{% url "room" %}?p={{ page.canonical|urlencode }}">
                <i class="bi bi-broadcast spin"></i>
                &nbsp;<span class="room-user-count" data-page-id="{{ page.id }}" data-endpoint="{% url 'api:get_room_count' %}">?</span>
            </a>

        </div>
    </div>
{% endif %}