{% extends "base.html" %}
{% load static %}
{% load comments %}

{% block title %} stllr | {{ page.title }}{% endblock title %}

{% block content %}
    {% if page.is_active %}
        <div class="row">
            <div class="col-8-sm">
                {% include 'page/card.html' with page=page user=user %}
                <div class="comment-section my-5">
                    {% include "comments/form.html" with page=page parent=None %}
                    {% render_comment_tree page=page %}
                </div>
            </div>
            <div class="col-4-sm">
                {% if similar_pages %}
                    <h2>Similar Pages</h2>
                    {% for page in similar_pages %}
                        {% include 'page/card.html' with page=page user=user %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <p>The forum at this page has been suspended.</p>
    {% endif %}
{% endblock content %}