{% load page_tags %}
<div class="page-feed">

    <div class="feeder page-feeder"
        data-endpoint="{% url 'pages:feed' %}"
        data-sort="{{ sort|default:"firmament" }}"
        data-p="{{ p|default:1 }}"
        data-query="{{ query|default:'' }}"
        data-starred-by-user="{{ starred_by_user|default:'' }}"
        data-starred-by-crew="{{ starred_by_crew|default:'' }}"
        data-near-to="{{ near_to|default:'' }}"
        data-seed="{% random_seed %}">

        <div class="feeder-dot"></div>

    </div>
    
</div>
