{% extends "base.html" %}
{% load static %}
{% load comments %}

{% block title %} stllr | {{ page.title }}{% endblock title %}

{% block content %}
    {% if page.is_active %}
        <div class="row">
            <div class="col-8 border-end">

                {% include 'page/card.html' with page=page user=user %}
                
                <div class="bg-dark overflow-auto" id="chat" style="height:300px;"></div>
                <div id="chatInput">
                    <input id="chatMessageInput" type="text">
                    <input id="chatMessageSubmit" type="submit" value="Send">
                </div>

            </div>
            <div class="col-3 p-3">
                {% include "page/list.html" with pages=page.tags.similar_objects %}
            </div>
        </div>
    {% else %}
        <p>The forum at this page has been suspended.</p>
    {% endif %}
{% endblock content %}

{% block scripts %}
    {{ page.id|json_script:"pageId" }}
    {{ request.user.username|json_script:"requestUser" }}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock scripts %}