.accordion-item {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.08);
    color: white;
}
.accordion-button {
    background-color: transparent !important;
    color: white !important;
    box-shadow: none !important;
}
.accordion-button::after {
    filter: invert(1);
}