{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}edit @{{ form.instance.handle }}{% else %}create a crew{% endif %} - stllr{% endblock title %}

{% block content %}

    <h5>{% if form.instance.pk %}Edit @{{ form.instance.handle }}{% else %}Create a crew{% endif %}</h5>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <div class="d-flex justify-content-end gap-2">
            <a href="{% url 'crews:crews' %}" class="btn btn-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">{% if form.instance.pk %}Save{% else %}Create{% endif %}</button>
        </div>
    </form>

{% endblock content %}
