<div class="position-relative h-100">

    <button class="btn btn-sm btn-transparent rounded-pill position-absolute top-0 end-0 m-3 z-1"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#roomUsersModal">
        &nbsp;<i class="bi bi-broadcast text-danger spin"></i>
    </button>

    <div class="message-feed rounded-card h-100 p-3 overflow-y-auto" data-page-id="{{ page.id }}"></div>

</div>

{% include "modals/room_users.html" %}

{% if user.is_authenticated %}

    <form class="message-form rounded-pill w-100 my-2">
        <textarea class="message-textarea glow-on-focus form-control rounded-card border-0"
                placeholder="Make contacts..."></textarea>
    </form>

{% else %}

    <p class="rounded-pill bg-light text-dark ps-3 py-2 my-2">
        Please <a href="{% url "account_login" %}">sign in</a> to post to this forum.
    </p>

{% endif %}
