<div class="modal fade" id="markdownHelpModal" tabindex="-1" aria-labelledby="markdownHelpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content glass text-white border-secondary">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="markdownHelpModalLabel">Markdown formatting</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-dark table-borderless table-sm small mb-0">
                    <thead class="text-secondary">
                        <tr>
                            <th>Syntax</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td><code>**bold**</code></td><td><strong>bold</strong></td></tr>
                        <tr><td><code>*italic*</code></td><td><em>italic</em></td></tr>
                        <tr><td><code>`code`</code></td><td><code>code</code></td></tr>
                        <tr><td><code>```<br>code block<br>```</code></td><td><pre class="mb-0">code block</pre></td></tr>
                        <tr><td><code>&gt; quote</code></td><td><blockquote class="mb-0">quote</blockquote></td></tr>
                        <tr><td><code># Heading 1</code></td><td><strong>H1</strong></td></tr>
                        <tr><td><code>## Heading 2</code></td><td><strong>H2</strong></td></tr>
                        <tr><td><code>- item</code></td><td>• item</td></tr>
                        <tr><td><code>1. item</code></td><td>1. item</td></tr>
                        <tr><td><code>[text](url)</code></td><td><a href="#">text</a></td></tr>
                        <tr><td><code>![alt](url)</code></td><td>image</td></tr>
                        <tr><td><code>---</code></td><td><hr class="my-1"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
