{% extends "base.html" %}
{% load static %}

{% block title %} stllr | room | {{ page.title }}{% endblock title %}

{% block content %}

    <div class="mb-sm-5 mb-3">
        {% include 'page/card.html' with page=page user=user compact=True %}
    </div>
    
    <div class="flex-grow-1">
        {% include "messages/feed.html" %}
    </div>

    {% include "messages/form.html" %}

{% endblock content %}

{% block scripts %}
    {{ page.id|json_script:"pageId" }}
    {{ request.user.username|json_script:"requestUser" }}
    <script src="{% static 'js/rooms.js' %}"></script>
{% endblock scripts %}