        <div class="dropdown">
            <button class="dropdown-toggle no-caret btn btn-sm btn-glass rounded-circle flex-shrink-0"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-glass rounded-card">
                {% if membership.role == 'admin' %}
                <li>
                    <form method="post" action="{% url 'crews:unset_admin' crew.handle membership.user.username %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-shield-minus me-2"></i>Revoke Admin
                        </button>
                    </form>
                </li>
                {% else %}
                <li>
                    <form method="post" action="{% url 'crews:set_admin' crew.handle membership.user.username %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-shield-plus me-2"></i>Make Admin
                        </button>
                    </form>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'crews:set_owner' crew.handle membership.user.username %}">
                        <i class="bi bi-person-fill-up me-2"></i>Make Owner
                    </a>
                </li>
            </ul>
        </div>
