{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}stllr | the universal forum{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'brand/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'brand/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'brand/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'brand/site.webmanifest' %}">

</head>

<body>

    <div id="window" class="container-fluid m-0 p-0">

        <nav class="navbar navbar-dark navbar-expand-sm sticky-top p-3">
            <a class="navbar-brand" href="{% url 'pages:index' %}">
                <img class="navbar-brand-image" src="{% static 'brand/stllr.gif' %}" width=128>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if section == "firmament" %}selected{% endif %}" href="{% url "pages:firmament" %}">Firmament</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "brightest" %}selected{% endif %}" href="{% url "pages:brightest" %}">Brightest</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "approaching" %}selected{% endif %}" href="{% url "pages:approaching" %}">Approaching</a>
                    </li>
                </ul>
                <form class="d-inline m-3" method="post">
                    {% csrf_token %}
                    <input class="float-bar form-control form-control-md mx-auto"
                    name="url"
                    type="text"
                    placeholder="{% if request.user.is_authenticated%}What's sparkling?{% else %}Sign in to access forums{% endif %}"
                    required
                    {% if not request.user.is_authenticated %}disabled{% endif %}>
                </form>
                {% if user.is_authenticated %}
                <div class="navbar-text ms-auto">
                    Hello, <a href="{% url "profile" user.username %}">{{ user.username }}!</a>
                    <a class="btn btn-dark ms-3" href='{% url "account_logout" %}'>Sign Out</a>
                {% else %}
                <div class="ms-auto">
                    <a class="text-light text-decoration-none mx-2" href="{% url "account_login" %}?next={{ request.get_full_path }}">Sign In</a>
                    <a class="btn btn-light ms-auto" href="{% url "account_signup" %}?next={{ request.get_full_path }}">Sign Up</a>
                </div>
                {% endif %}
            </div>
        </nav>

        {% if messages %}
            <div class="container-fluid m-0 p-0">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show m-3 p-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="content" class="container-fluid p-sm-5 p-3">
            {% block content %}
            {% endblock content %}
        </div>

    </div>
    
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/pageStarButtons.js' %}"></script>
    <script src="{% static 'js/comments.js' %}"></script>
    {% block scripts %}
    {% endblock scripts%}
</body>

</html>