{% load static thumbnail %}


{% comment %} TODO: Icons need to support SVG. Lots of defaults aren't working for this reason {% endcomment %}
{% thumbnail domain.fav_icon dimensions as icon %}{% if icon %}
    <img src="{{ icon.url }}" class="{% if domain.fav_icon_bg_light %}bg-light{% endif %} rounded-circle flex-shrink-0">
{% else %}
    <img src="{% static 'img/favicon-default.webp' %}" class="rounded-circle flex-shrink-0" width="{{ size }}" height="{{ size }}" style="transform: rotate(23.5deg);">
{% endif %}