{% extends "base.html" %}
{% load comments %}
{% load comments_xtd %}

{% block content %}

    {% include 'webpage_card.html' with webpage=webpage user=user %}

    <hr>

    <p>
        {% get_comment_count for webpage as comment_count %}
        {{ comment_count }} comment{{ comment_count|pluralize:"s" }}
        ha{{ comment_count|pluralize:"s,ve" }} been posted.
    </p>

    <div class="comment mt-3 mb-5">
        <h4 class="text-center mb-4">Your comment</h4>
        <div class="card pt-4">
            {% render_comment_form for webpage %}
        </div>
    </div>

    <ul class="media-list">
        {% render_xtdcomment_tree for webpage allow_flagging allow_feedback show_feedback %}
    </ul>


{% endblock %}