{% load static %}
{% load comments %}
{% load humanize %}
{% load thumbnail %}
{% load safe_markdown %}

<div id="comment-{{ comment.id }}" class="comment mt-2 p-2">

    <div class="comment-header d-flex align-items-start">

        {% if comment.user.profile.photo %}
            {% thumbnail comment.user.profile.photo 32x32 crop="smart" as im %}
            <a class="float-start me-2 flex-shrink-0" href="{{ comment.user.get_absolute_url }}">
                <img class="rounded-circle" src="{{ request.scheme }}://{{ request.get_host }}{{ im.url }}">
            </a>
        {% endif %}

        <div class="d-flex align-items-center flex-wrap">
            <a class="comment-user small text-light"
                href="{{ request.scheme }}://{{ request.get_host }}{{ comment.user.profile.get_absolute_url }}">
                {{ comment.user.username }}
            </a>
            <i class="bi bi-dot text-secondary"></i>
            <span class="small text-secondary">{{ comment.created|naturaltime }}</span>
            <span class="w-100"></span>
            <span class="comment-user-bio text-secondary small border rounded-pill my-1 px-2">{{ comment.user.profile.bio }}</span>

        </div>

    </div>

    <div class="comment-body mt-3 ms-5">
        <div class="comment-content">
            {{ comment.content|safe_markdown }}
        </div>
        <div class="comment-buttons">
            {% include "comments/star_button.html" with comment=comment %}
            <a class="comment-replies-button btn btn-sm btn-dark rounded-pill me-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#children-{{ comment.id }}"
                aria-expanded="false">
                <i class="bi bi-chat-left-text-fill"></i>
                <span>{{ comment.children.count }}</span>
            </a>
            <button class="comment-reply-button btn btn-sm btn-transparent btn-dark rounded-pill fw-bold me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#reply-form-container-{{ comment.id }}"
                aria-expanded="false">
                Reply
            </button>
        </div>
    </div>

    <div id="reply-form-container-{{ comment.id }}" class="reply-form-container collapse mt-2 ps-4">
        {% include "comments/form.html" with page=comment.page parent=comment %}
    </div>

    <div id="children-{{ comment.id }}" class="comment-children collapse show m-0 ps-4">
        {% if comment.children.exists %}
            {% render_comment_tree comments=comment.children.all %}
        {% endif %}
    </div>

</div>

