{% load comments %}
{% load humanize %}
{% load thumbnail %}
{% load markdown_deux_tags %}

<div id="comment-{{ comment.id }}" class="comment row pt-3 ps-3">
    <div class="col-1 d-flex justify-content-end m-0 p-0">
        {% if comment.user.profile.photo %}
            {% thumbnail comment.user.profile.photo 32x32 crop="smart" as im %}
            <a href="{{ comment.user.get_absolute_url }}">
                <img
                    src="{{ request.scheme }}://{{ request.get_host }}{{ im.url }}">
            </a>
        {% else %}
        {% endif %}
    </div>
    <div class="col-11">
        <div class="comment-header">
            <a class="comment-user small text-light fw-bold"
                href="http://{{ request.get_host }}{{ comment.user.profile.get_absolute_url }}">
                {{ comment.user.username }}
            </a>
            <i class="bi bi-dot text-secondary"></i>
            <span class="small text-secondary">{{ comment.created|naturaltime }}</span>
        </div>

        <div class="comment-content my-3">
            {{ comment.content|markdown }}
        </div>

        <div class="comment-buttons">
            {% include "comments/star_button.html" with comment=comment %}
            <a class="comment-replies-button btn btn-xs btn-dark me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#children-{{ comment.id }}"
                aria-expanded="false">
                <span>{{ comment.children.count }}</span>
                <i class="bi bi-chat-fill"></i>
            </a>
            <button class="comment-reply-button btn btn-sm btn-xs btn-dark rounded-pill me-1"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#reply-form-container-{{ comment.id }}"
                aria-expanded="false">
                Reply
            </button>
        </div>
        <div id="reply-form-container-{{ comment.id }}" class="reply-form-container collapse mt-2">
            {% include "comments/form.html" with page=comment.page parent=comment %}
        </div>
        {% if comment.children.exists %}
            <div id="children-{{ comment.id }}" class="comment-children collapse show border-start my-2">
                {% render_comment_tree comments=comment.children.all %}
            </div>
        {% endif %}
    </div>
</div>