{% load markdown_deux_tags %}

{% if user.is_authenticated %}
    <form id="comment-form-{{ parent.id }}"
        class="comment-form rounded p-0 my-3" method="post" action="{% url "comments:post" %}">
        {% csrf_token %}
        <input type="hidden" name="parent" value="{{ parent.id|default:'' }}">
        <input type="hidden" name="page" value="{{ page.id }}">
        <textarea class="comment-form-textarea form-control border-0 shadow-none"
            name = "content"
            rows = "1"
            placeholder="Reach for the stars..."
            required></textarea>
        <div class="comment-form-markdown-preview-container border rounded p-2"></div>
        <div class="comment-form-buttons align-items-center">
            <button class="comment-form-preview-markdown-button btn btn-light m-1">
                <i class="bi bi-eye-fill"></i> Preview
            </button>
            <button class="comment-form-edit-markdown-button btn btn-light m-1">
                <i class="bi bi-eye-slash"></i> Edit
            </button>
            <button class="comment-cancel-button btn btn-light rounded ms-auto m-1" type="button" onclick="closeCommentForm(this)">
                Cancel
            </button>
            <button class="comment-submit-button btn rounded m-1" type="submit">
                Comment
            </button>
        </div>
    </form>
{% else %}
    <p class="rounded-pill bg-light text-dark ps-3 py-2">Sign in to enter the forum.</p>
{% endif %}