<div class="dropdown">
    <button class="btn btn-glass btn-sm dropdown-toggle no-caret" data-bs-toggle="dropdown">
        Invite a friend
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-glass">
        <li>
            <a class="dropdown-item" href="mailto:?subject=Get on Stllr!&body=Hey! I wanna travel the World Wide Web with you on Stllr! Where you at?!: https://stllr.io">
                <i class="bi bi-envelope me-2"></i>Email
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="sms:?&body=Hey! I wanna travel the World Wide Web with you on Stllr! Where you at?!: https://stllr.io">
                <i class="bi bi-chat-dots me-2"></i>Text
            </a>
        </li>
    </ul>
</div>
