<span class="badge floats-badge rounded-pill p-0">

    <span class="float-count rounded-pill ms-2 me-0" 
        data-bs-toggle="tooltip"
        data-bs-title="Users who floated this webpage..."
        >
        {{ page.num_votes }}
    </span>

    <button class="float-button btn rounded-circle m-0 py-0 px-1" aria-label="Float page" title="Float page"
        data-page-id="{{ page.id }}"
        data-csrf-token="{{ csrf_token }}"
        {% if page.id in user.voted_pages_ids %}
            data-floated="true"
        {% else %}
            data-floated="false"
        {% endif %}
        {% if not user.is_authenticated %}
            disabled
        {% endif %}>
        <i class="float-icon bi bi-arrow-up-circle-fill m-0 p-0"></i>
    </button>
    
</span>