{% load thumbnail %}
{% load humanize %}
{% load utility_tags %}

<div class="mb-5">

    <div class="d-flex align-items-start gap-2">

        {% if action.object_ct.model == 'page' %}
            {% include "domain/icon.html" with domain=action.object.domain dimensions="32x32" %}
        {% elif action.object_ct.model == 'post' %}
            {% include "domain/icon.html" with domain=action.object.page.domain dimensions="32x32" %}
        {% endif %}

        <div>
            <div class="mb-0">
                @{{ action.user.username }}
                {{ action.get_verb_display }}
                <span class="text-secondary">{{ action.created|naturaltime }}</span>
            </div>

            <div>
                {% if action.verb == action.Verb.STARRED %}
                    <a href="action.object.get_absolute_url">{{ action.object.title }}</a>
                {% elif action.verb == action.Verb.POSTED or action.verb == action.Verb.REPLIED %}
                    <a href="action.object.get_absolute_url">{{ action.object.page.title }}</a>
                {% elif action.verb == action.Verb.ENTERED %}
                    <a href="action.object.get_absolute_url">{{ action.object.title }}</a>
                {% endif %}
            </div>
        </div>

    </div>

    {% if action.object_ct.model == 'post' %}
        <div class="ms-4">
            {% if action.object.parent %}
                {% include "post/card.html" with post=action.object.parent reply=action.object expanded=True %}
            {% else %}
                {% include "post/card.html" with post=action.object %}
            {% endif %}
        </div>
    {% endif %}

</div>
