{% load static %}

<form class="comment-form form-group" data-webpage-id="{{ webpage.id }}" data-csrf-token="{{ csrf_token }}">
    <textarea class="form-control" name="content" placeholder="Float an idea..." rows="3"></textarea>
    <button class="btn btn-primary mt-2 ms-auto" type="submit">Submit</button>
</form>

<div class="comment-feed my-3 p-0">
    {% for comment in webpage.comments.all %}
        {% include 'modules/comment.html' with comment=comment %}
    {% empty %}
        <p class="small">No comments yet.</p>
    {% endfor %}
</div>
