<div class="container-fluid">

    {% for webpage in webpages %}
        <div class="row m-3">

            <p>{{ webpage.url }}</p>

            {% if webpage.id in user.voted_webpage_ids %}
                <p>You have voted for this webpage!</p>
            {% endif %}

            <button class="float-button" data-webpage-id="{{ webpage.id }}">
                <i class="fa-solid fa-ghost"></i>
            </button>

            <span>{{ webpage.num_votes }}</span>

        </div>
    {% endfor %}

</div>