{% load static %}

{% if user.is_authenticated %}
<input id="csrf-token" name="csrf-token" value="{{ csrf_token }}" type="hidden">
{% endif %}

{% for webpage in webpages %}
<div class="webpage-feed">
    <div class="row p-0 m-0">

        <div class="col-2 m-0 pr-3 text-end">
            {% include 'modules/float-button.html' with webpage=webpage user=user %}
        </div>

        <div class="col-10 m-0 p-0">

            {% if webpage.fav_icon_url %}
            <img class="webpage-fav-icon me-1 p-0" src="{{ webpage.fav_icon_url }}">
            {% else %}
            <i class="fas fa-globe webpage-fav-icon me-1 p-0"></i>
            {% endif %}

            <p class="webpage-site-name m-0 p-0">{% firstof webpage.site_name webpage.hostname %}</p>

            <a class="webpage-link d-block text-truncate m-0 p-0" href="{{ webpage.get_absolute_url }}" target="_blank">{{ webpage.get_absolute_url }}</a>

        </div>
    </div>

    <div class="row mb-4">

        <div class="col-2 m-0 p-0"></div>
        <div class="col-10 m-0 py-1 px-0">

            <a class="webpage-title" href="{{ webpage.get_absolute_url }}" target="_blank">
                <h1 class="webpage-title">{{ webpage.title }}</h1>
            </a>
            
            {% if webpage.image_url %}
            <img class="webpage-image me-2" src="{{ webpage.image_url }}">
            {% endif %}

            <p class="webpage-description small m-0 p-0">{% firstof webpage.description "No description." %}</p>

        </div>

    </div>
</div>
{% endfor %}