<input id="csrf-token" name="csrf-token" value="{{ csrf_token }}" type="hidden">

{% for webpage in webpages %}
    <div class="row">

        <div class="col-2 text-end">
            {% include 'modules/float-button.html' with webpage=webpage user=user %}
        </div>

        <div class="webpage-card col">
            {% if webpage.image_url %}
            <img class="webpage-image" src="{{ webpage.image_url }}">
            {% endif %}
            {% if webpage.title %}
            <a href="{{ webpage.canonical }}" target="_blank"><h1 class="webpage-title m-0">{{ webpage.title }}</h1></a>
            {% endif %}
            <a class="webpage-link small m-0" href="{{ webpage.canonical }}" target="_blank">{{ webpage.canonical }}</a>
            <p class="webpage-description small">{% firstof webpage.description "No description available." %}</p>
        </div>

    </div>
{% endfor %}