{% if notifications.pending_requests %}
    {% for pending_request in notifications.pending_requests %}
        <div class="mb-4">

            <div class="float-start">
                {% include "user/profile-picture.html" with user=pending_request.from_user size="32" dimensions="32x32" %}
            </div>

            <a href="{% url "profile" pending_request.from_user.username %}">@{{ pending_request.from_user.username }}</a>
            <span>wants to add you as a contact.</span>

            <a class="btn btn-light btn-sm ms-auto"
                href="{% url "accept_request" pending_request.from_user.username %}">
                Accept
            </a>
            <a class="btn btn-warning btn-sm"
                href="{% url "decline_request" pending_request.from_user.username %}">
                Decline
            </a>
            
        </div>
    {% endfor %}
{% else %}
        <p class="text-secondary">No incoming transmissions.</p>
{% endif %}
