{% extends "base.html" %}

{% block title %}Comms{% endblock title %}

{% block content %}
    <h1 class="fw-light mb-5">Comms</h1>

    {% if pending_requests %}
        {% for contact in pending_requests %}
            <div class="d-flex align-items-center gap-3 mb-4">
                <a href="{% url "profile" contact.from_user.username %}">@{{ contact.from_user.username }}</a>
                <span>wants to be a contact</span>
                <a href="{% url "accept_request" contact.from_user.username %}" class="btn btn-success btn-sm">Add</a>
                <a href="{% url "remove_contact" contact.from_user.username %}" class="btn btn-light btn-sm">Decline</a>
            </div>
        {% endfor %}
    {% else %}
            <p class="text-secondary">No incoming transmissions.</p>
    {% endif %}
{% endblock content %}