.profile-avatar { width: 192px; height: 192px; }
@media (max-width: 576px) {
    .profile-avatar { width: 96px; height: 96px; }
}

.banner-bleed {
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}
@media (min-width: 768px) {
    .banner-bleed {
        margin-top: -3rem;
        margin-left: -3rem;
        margin-right: -3rem;
    }
}
