.post-content a {
    text-decoration: none;
}

.post-content a:hover {
    text-decoration: underline !important;
}

.post-form textarea,
.reply-form textarea,
.markdown-preview {
    height: 5.5rem;
}

.post-form textarea::placeholder,
.reply-form textarea::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.markdown-preview {
    color: black;
    display: none;
}

.markdown-edit-button {
    display: none;
}

.post-reply-button {
    color: var(--star-light)
}