.post-form {
    background-color: white;
}

.post-form-textarea,
.post-form-markdown-preview-container {
    height: 96px;
}
.post-form-markdown-preview-container {
    color: black;
    display: none;
}

.post-form-markdown-edit-button {
    display: none;
}

.post-submit-button {
    background-color: var(--iridescent-4);
}

.post {
    background-color: rgba(255, 255, 255, 0.05);
}

.post-star-button:has(.bi-star-fill) {
    text-shadow: 0 0 5px white;
}

.post-reply-button {
    color: var(--iridescent-4)
}

.post-children {
    padding-left: 16px;
}

.child-post-curl {
    left: -16px;
    height: 32px;
}