<base href="{{ request.scheme }}://{{ request.get_host }}/">
{% load static %}

<div id="extensionBody" class="d-flex flex-column vh-100">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/forums.css' %}">

    <div class="sticky-top glass m-0 p-0">

        <div id="stllr-data" style="display:none"
            data-page-id="{{ page.id }}"
            data-page-canonical="{{ page.canonical }}"
            data-csrf="{{ csrf_token }}">
        </div>

        <div class="p-3 pb-0">
            {% include "page/card.html" with compact=True standalone=True %}
        </div>

        <nav id="extensionNavbar" class="navbar navbar-expand navbar-dark m-0 p-3" style="overflow-x: auto; scrollbar-width: none;">
            <ul class="navbar-nav d-flex align-items-center flex-nowrap">
                {% comment %} <li class="nav-item">
                    <a id="frameTab" class="nav-link text-light px-4 {% if tab == "frame" %}border-bottom{% endif %}" role="button">Frame</a>
                </li> {% endcomment %}
                <li class="nav-item">
                    <a id="forumTab" class="nav-link text-light px-4 {% if tab == "forum" %}border-bottom{% endif %}" role="button">Forum</a>
                </li>
                <li class="nav-item">
                    <a id="roomTab" class="nav-link text-light px-4 {% if tab == "room" %}border-bottom{% endif %}" role="button">Room</a>
                </li>
                <li class="nav-item">
                    <a id="nearbyTab" class="nav-link text-light px-4 {% if tab == "nearby" %}border-bottom{% endif %}" role="button">Nearby</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container-fluid p-3 flex-grow-1 {% block content_wrapper_class %}overflow-y-auto{% endblock %}">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "modals/share.html" %}

    {% block scripts %}
    {% endblock scripts %}
</div>
