<base href="{{ request.scheme }}://{{ request.get_host }}/">
{% load static %}

<div id="extensionBody">

    <div class="glass sticky-top">

        <div id="stllr-data" style="display:none"
            data-page-id="{{ page.id }}"
            data-page-canonical="{{ page.canonical }}"
            data-csrf="{{ csrf_token }}">
        </div>

        <div class="extension-header p-3">
            {% include "page/card.html" with compact=True %}
        </div>

        <nav id="extensionNavbar" class="navbar navbar-expand navbar-dark m-0 p-0">
            <ul class="navbar-nav d-flex align-items-center w-100 justify-content-evenly">
                <li class="nav-item">
                    <a id="forumTab" class="nav-link text-light px-4 {% if tab == "forum" %}border-bottom{% endif %}" role="button">Forum</a>
                </li>
                <li class="nav-item">
                    <a id="roomTab" class="nav-link text-light px-4 {% if tab == "room" %}border-bottom{% endif %}" role="button">Room</a>
                </li>
                <li class="nav-item">
                    <a id="similarTab" class="nav-link text-light px-4 {% if tab == "similar" %}border-bottom{% endif %}" role="button">Similar</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="container-fluid p-3">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}
</div>
