<base href="{{ request.scheme }}://{{ request.get_host }}/">
{% load static %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

<div class="d-flex justify-content-center" style="padding-top: 33vh;">
    <div>
        <a href="{% url 'home' %}">
            <img class="d-block my-3 mx-auto" src="{% static 'brand/icon.png' %}" width=192>
        </a>
        <div class="text-center px-4">
            {% block error_message %}
            {% endblock error_message %}
        </div>
    </div>
</div>
