{% extends "extension/base.html" %}

{% block content %}

    <div class="flex-grow-1" style="height:500px;">
        {% include "room/feed.html" %} <!-- Done by Claude, requires review -->
    </div>

    <div class="fixed-bottom p-2">
        {% include "room/form.html" with page=page %} <!-- Done by Claude, requires review -->
    </div>

{% endblock content %}

{% block scripts %}
    {{ page.id|json_script:"pageId" }}
    {{ request.user.username|json_script:"requestUser" }}
{% endblock scripts %}