{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}stellr - the universal forum{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'brand/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'brand/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'brand/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'brand/site.webmanifest' %}">

</head>

<body>

    <div id="window" class="container-fluid m-0 p-0">

        <nav class="navbar navbar-dark navbar-expand-sm sticky-top p-3">
            <a class="navbar-brand" href="{% url 'pages:index' %}">
                <img class="navbar-brand-image" src="{% static 'brand/stellr.gif' %}" width=128>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if section == "shining" %}selected{% endif %}" href="#">Shining</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "rising" %}selected{% endif %}" href="#">Rising</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if section == "newest" %}selected{% endif %}" href="#">New</a>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                <form class="d-inline m-3" method="post" action="{% url 'pages:get_or_create' %}">
                    {% csrf_token %}
                    <input class="float-bar form-control form-control-md me-2" name="url" type="text" placeholder="Go to forum by URL" required>
                </form>
                <div class="navbar-text ms-auto">
                    Hello, <a href="{% url "dashboard" %}">{{ user.username }}!</a>
                    <form class="d-inline" id="logout-form" action="{% url "logout" %}" method="post">
                        <button id="logout-button" type="submit">Logout</button>
                        {% csrf_token %}
                    </form>
                {% else %}
                    <a class="ms-auto" href="{% url "login" %}">Log-in</a>
                {% endif %}
                </div>
            </div>
        </nav>

        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}


        <div id="content" class="container-fluid p-sm-5 p-3">
        {% block content %}
        {% endblock content %}
        </div>

    </div>
    
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock scripts%}
</body>

</html>