{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Float</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome/css/all.min.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'brand/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'brand/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'brand/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'brand/site.webmanifest' %}">

</head>

<body>
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="nav-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
            <li class="nav-item">
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </li>
        {% endif %}
    </ul>
   
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>