{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}@{{ profile.user.username }} - stllr{% endblock title %}

{% block css %}
    {% if profile.background %}
    <style>
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{{ profile.background.url }}");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            opacity: 0.05;
            z-index: -1;
        }
    </style>
    {% endif %}
{% endblock css %}

{% block left %}
    {% if profile.user == request.user %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link bg-dark my-3" href="{% url "edit" user.username %}">Edit account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-dark my-3" href="{% url "account_email" %}">Manage email address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-dark my-3" href="{% url "account_reset_password" %}">Reset password</a>
            </li>
        </ul>
    {% endif %}
{% endblock left %}


{% block content %}

    <div class="position-relative rounded-card overflow-hidden" style="aspect-ratio: 16/9;">
        {% if profile.background %}{% thumbnail profile.background "1200x675" crop="center" as banner %}
            <img class="object-fit-cover w-100 h-100" src="{{ banner.url }}">
        {% endif %}
        <img class="position-absolute bottom-0 start-50 translate-middle-x profile-avatar" src="{% static 'brand/icon.png' %}">
    </div>

    <div class="d-flex align-items-center justify-content-center my-3">
        <h1 class="d-inline me-3">@{{ profile.user.username }}</h1>

        {% if request.user != profile.user %}
            {% if not contact %}
                <a href="{% url "send_request" profile.user.username %}" class="btn btn-sm btn-light">Add Contact</a>
            {% elif contact.status == 'pending' and contact.from_user == request.user %}
                <a href="{% url "remove_contact" profile.user.username %}" class="btn btn-sm btn-light">Cancel Request</a>
            {% elif contact.status == 'pending' %}
                <a href="{% url "accept_request" profile.user.username %}" class="btn btn-sm btn-light">Accept</a>
                <a href="{% url "remove_contact" profile.user.username %}" class="btn btn-warning">Decline</a>
            {% else %}
                <a href="{% url "remove_contact" profile.user.username %}" class="btn btn-sm btn-light">Remove Contact</a>
            {% endif %}
        {% endif %}
    </div>


    <div class="mt-5 p-3">
        {% for action in profile.user.actions.all %}
            {% include "action/card.html" %}
        {% endfor %}
    </div>

{% endblock content %}

{% block right %}
    {% if user == profile.user %}
        {% include "user/comms.html" with notifications=notifications %}
    {% endif %}
{% endblock right %}