{% load static %}
{% load comments %}
{% load comments_xtd %}

<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/base.css">
<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/comments.css">
<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/webpages.css">

{% include 'webpage_card.html' with webpage=webpage user=user %}

<hr>
    
{% render_comment_form for webpage %}


<ul class="comment-feed media-list">
    {% render_xtdcomment_tree for webpage allow_flagging allow_feedback show_feedback %}
</ul>