{% load static %}

<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/base.css">
<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/comments.css">
<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/pages.css">

{% if page.is_active %}

    <div class="container-fluid p-0 m-0">

        <div class="row sticky-top glass rounded p-3 m-0">
            {% include 'page/card.html' with page=page user=user %}
        </div>

        {% if similar_pages %}
            <div class="row p-3">
                <h2 class="mt-4">Similar Pages</h2>
                {% for page in similar_pages %}
                    {% include 'page/card.html' with page=page user=user %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% else %}
    The forum at this page has been suspended.
{% endif %}