.webpage-feed {
    max-width: 768px;
}

.webpage-title {
    font-size: 1.5rem;
    color: var(--iridescent-4);
    text-decoration: none;
}
.webpage-title:hover {
    text-decoration: underline;
}

.webpage-link {
    color: white;
    line-height: 1;
}

.webpage-fav-icon {
    float: left;
    height: 32px;
    font-size: 27px;
    border-radius: .5rem;
}

.webpage-link,
.webpage-site-name {
    font-weight: 300;
    font-size: 0.75rem;
}

.webpage-image {
    float: left;
    height: 3.75rem;
    border-radius: 0.5rem;
}

