.comment-form {
    max-width: 576px;
    border-color: var(--iridescent-0);
    background-color: var(--iridescent-0);
}

.comment-feed {
    max-width: 576px;
}

.comment-badge {
    background-color: var(--iridescent-2);
    color: white;
}

.comment-floated-badge {
    background-color: var(--iridescent-4);
    color: white;
}