
.comment-section {
    max-width: 768px;
}

.comment-form,
.comment-form-textarea {
    max-width: 768px;
    background-color: white;
    border-radius: 15px;
}
.comment-form-textarea {
    resize: none;
}
.comment-form-buttons {
    display: none;
}

.comment-submit-button {
    background-color: var(--iridescent-4);
}

.comment {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.comment-user {
    text-decoration: none;
}
.comment-user:hover {
    text-decoration: underline;
}

.comment-star-button,
.comment-replies-button {
    background: none;
    border: none;
}
.comment-star-button:has(.bi-star-fill) {
    text-shadow: 0 0 5px white;
}

.comment-reply-link {
    color: var(--iridescent-3);
}