{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}stllr{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="stylesheet" href="{% static 'css/forums.css' %}">
    <link rel="stylesheet" href="{% static 'css/rooms.css' %}">
    {% block css %}
    {% endblock css %}

    <link rel="icon" href="{% static "brand/favicon/favicon.ico" %}" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "brand/favicon/favicon-16x16.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "brand/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "brand/favicon/android-chrome-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static "brand/favicon/android-chrome-512x512.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "brand/favicon/apple-touch-icon.png" %}">
    <link rel="manifest" href="{% static "brand/favicon/site.webmanifest" %}">
    <meta name="theme-color" content="#060d1a">

</head>

<body>

    <div id="window" class="container-fluid d-flex flex-column min-vh-100">

        <nav class="navbar glass navbar-dark navbar-expand-sm sticky-top p-3">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="navbar-brand-image" src="{% static 'brand/stllr.png' %}" width=96>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <form class="search-form d-flex mx-auto my-3" action="/" role="search">
                    <input class="search-bar glow-on-focus form-control rounded-pill border-0 me-2"
                        name="query"
                        type="search"
                        placeholder="Where to?"
                        aria-label="Search">
                </form>
                {% if user.is_authenticated %}
                    <div class="navbar-text ms-auto d-flex align-items-center gap-2">
                        Hello,
                        <a href="{% url "profile" user.username %}">
                            {{ user.username }}!
                            {% if notifications.pending_requests %}
                                <span class="badge rounded-pill bg-danger">{{ notifications.pending_requests.count }}</span>
                            {% endif %}
                        </a>
                        <form method="post" action="{% url 'account_logout' %}" class="d-inline ms-3">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-dark">Sign Out</button>
                        </form>
                    </div>
                {% else %}
                    <div class="navbar-text ms-auto">
                        <a class="btn btn-dark mx-2" href="{% url "account_login" %}">Sign In</a>
                        <a class="btn btn-light text-dark ms-auto" href="{% url "account_signup" %}">Sign Up</a>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% if messages %}
            <div class="container-fluid m-0 p-0">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show m-3 p-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="container-fluid d-flex flex-column flex-grow-1">
            <div class="row flex-grow-1 overflow-hidden">
                <div class="col-lg-3 p-md-5 p-3 d-none d-lg-flex">
                    {% block left %}
                    {% endblock left %}
                </div>
                <div class="d-flex flex-column col-lg-6 p-md-5 p-3">
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="col-lg-3 p-md-5 p-3 d-none d-lg-flex">
                    {% block right %}
                    {% endblock right %}
                </div>
            </div>
        </div>

        <footer class="fixed-bottom flex small text-secondary fw-light ms-3 d-none d-lg-block">
            <div class="my-2 small">
                <a href="{% url "policy" "privacy-policy" %}" class="text-secondary me-3">Privacy Policy</a>
                <a href="{% url "policy" "user-agreement" %}" class="text-secondary">User Agreement</a>
            </div>
            <p>stllr <i class="bi bi-c-circle"></i> All Rights Reserved.</p>
        </footer>

    </div>
    
    <script src="{% static "libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "libs/lodash/lodash.min.js" %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/pages.js' %}"></script>
    <script src="{% static 'js/forums.js' %}"></script>
    {% block scripts %}
    {% endblock scripts%}
</body>

</html>