{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}stllr | the universal forum{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
    <link rel="stylesheet" href="{% static 'css/forums.css' %}">
    <link rel="stylesheet" href="{% static 'css/rooms.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'brand/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'brand/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'brand/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'brand/site.webmanifest' %}">

</head>

<body>

    <div id="window" class="container-fluid m-0 p-0">

        <nav class="navbar navbar-dark navbar-expand-sm glass sticky-top p-3">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="navbar-brand-image" src="{% static 'brand/brand.png' %}" width=128>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="search-form d-flex mx-auto my-3" action="/" role="search">
                    <input class="search-bar form-control rounded-pill me-2"
                        name="query"
                        type="search"
                        placeholder="What's sparkling?"
                        aria-label="Search">
                </form>
                {% if user.is_authenticated %}
                    <div class="navbar-text ms-auto">
                        Hello, <a href="{% url "profile" user.username %}">{{ user.username }}!</a>
                        <a class="btn btn-dark ms-3" href='{% url "account_logout" %}'>Sign Out</a>
                    </div>
                {% else %}
                    <div class="navbar-text ms-auto">
                        <a class="text-light text-decoration-none mx-2" href="{% url "account_login" %}">Sign In</a>
                        <a class="btn btn-light ms-auto" href="{% url "account_signup" %}">Sign Up</a>
                    </div>
                {% endif %}
            </div>
        </nav>

        {% if messages %}
            <div class="container-fluid m-0 p-0">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show m-3 p-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div id="content" class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    {% block left %}
                    {% endblock left %}
                </div>
                <div class="col-lg-6">
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="col-lg-3">
                    {% block right %}
                    {% endblock right %}
                </div>
            </div>
        </div>

    </div>
    
    <script src="{% static "libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "libs/lodash/lodash.min.js" %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/pages.js' %}"></script>
    {% block scripts %}
    {% endblock scripts%}
</body>

</html>