{% extends "base.html" %}
{% load static %}

{% block left %}
    <div class="feed-header mb-5">
        <div class="dropdown d-inline ms-auto">
            <button class="btn text-light dropdown-toggle" id="sortMenuButton" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ sort|capfirst }}
            </button>
            <div class="dropdown-menu" aria-labelledby="sortMenuButton">
                <a class="dropdown-item" href="/{% if tag %}?tag={{ tag.slug }}&{% elif query %}?query={{ query }}&{% else %}?{% endif %}sort=firmament">Firmament</a>
                <a class="dropdown-item" href="/{% if tag %}?tag={{ tag.slug }}&{% elif query %}?query={{ query }}&{% else %}?{% endif %}sort=brightest">Brightest</a>
                <a class="dropdown-item" href="/{% if tag %}?tag={{ tag.slug }}&{% elif query %}?query={{ query }}&{% else %}?{% endif %}sort=rising">Rising</a>
            </div>
        </div>
        {% if tag %}
            <span class="mx-3 p-1"># {{ tag.name }}</span>
        {% endif %}
        {% if query %}
            <span class="mx-3 p-1"><i class="bi bi-search"></i> {{ query }}</span>
        {% endif %}
    </div>

{% endblock left %}

{% block content %}

    {% include 'page/list.html' with pages=pages user=user %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}