:root {
    --iridescent-0: #ced9ef;
    --iridescent-1: #cfc7fb;
    --iridescent-2: #e2c6ee;
    --iridescent-3: #efc8df;
    --iridescent-4: #d7e9dc;
}

body {
    background-color: #000010;
    color: white;
}

a {
    color: var(--iridescent-2);
}

.float-button {
    color: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: color 160ms ease, text-shadow 160ms ease;
}

.float-button[data-voted="false"] {
    color: var(--iridescent-0);
    text-shadow: none;
}

.float-button[data-voted="true"] {
    color: var(--iridescent-4);
    text-shadow: 0 0 5px var(--iridescent-4);
}

.float-button {
    font-size: 1rem;
}

.webpage-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.webpage-card {
    position: relative;
}
.webpage-image {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
}


.webpage-title,
.webpage-description,
.webpage-link {
    position: relative;
    z-index: 1;
}