{% if allow_feedback %}
<span class="badge floats-badge rounded-pill py-0 pe-0 ps-2 {% if item.likedit %}comment-floated-badge{% endif %}">

    {% if show_feedback %}
        <span class="float-count" data-bs-toggle="tooltip"
            data-bs-title="{{ item.likedit_users|join:'<br/>' }}">
            {{ item.likedit_users|length }}
        </span>
    {% endif %}

    <a class="float-button btn btn-sm rounded-circle text-decoration-none py-0 px-1" href="{% url 'comments-xtd-like' item.comment.pk %}" aria-label="Float comment" title="Float comment"
        {% if item.likedit %}
            data-floated="true"
        {% else %}
            data-floated="false"
        {% endif %}>
        <i class="bi bi-arrow-up-circle"></i>
    </a>
    
</span>
{% endif %}