{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<div class="comment-tree mt-3 mb-0 mx-0 p-0">
    {% for item in comments %}
    <div id="c{{ item.comment.id }}" class="comment {% if not item.children %}pb-3{% endif %}">
    <div class="d-flex flex-column">
        <h6 class="comment-header mb-1 d-flex justify-content-between" style="font-size: 0.8rem">
        
            <div class="d-inline flex-grow-1">
                <b>@{{ item.comment.user.username }}</b>
                <span class="small text-secondary">{{ item.comment.submit_date }}</span>
                <span>{% if item.comment.url and not item.comment.is_removed %}<a href="{{ item.comment.url }}" target="_new" class="text-decoration-none">{{ item.comment.url }}</a>{% endif %}</span>
                <!-- {% if item.comment.user and item.comment.user|has_permission:"django_comments.can_moderate" %}&nbsp;<span class="badge text-bg-secondary">{% trans "moderator" %}</span>{% endif %}&nbsp;&nbsp;<a class="permalink text-decoration-none" title="{% trans 'comment permalink' %}" href="{% get_comment_permalink item.comment %}">¶</a></span> -->
            </div>
        
            <div class="d-inline">
            {% if not item.comment.is_removed %}
                
                {% if perms.comments.can_moderate %}
                    {% if item.flagged_count %}
                        <span class="small text-danger" title="{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}</span>
                    {% endif %}
                {% endif %}
                
                {% if allow_flagging and request.user in item.flagged %}
                    <i class="bi bi-flag text-danger" title="{% trans 'comment flagged' %}"></i>
                {% elif allow_flagging %}
                    <a class="text-decoration-none" href="{% url 'comments-flag' item.comment.pk %}">
                        <i class="bi bi-flag" title="{% trans 'flag comment' %}"></i>
                    </a>
                {% endif %}
                
                {% if perms.comments.can_moderate %}
                    {% if allow_flagging %}
                        <span class="text-muted">&bull;</span>
                    {% endif %}
                    <a class="text-decoration-none" href="{% url 'comments-delete' item.comment.pk %}"><i class="bi bi-trash" title="{% trans 'remove comment' %}"></i></a>
                {% endif %}
            {% endif %}
            </div>
        </h6>
        
        {% if item.comment.is_removed %}

            <p class="text-muted{% if not allow_feedback and not item.comment.allow_thread %} pb-3{% endif %}">
                <em>{% trans "This comment has been removed." %}</em>
            </p>

        {% else %}

            <div class="content {% if not allow_feedback and not item.comment.allow_thread %}pt-1 pb-3{% else %} py-1{% endif %}">
                {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
            </div>
            
            <div class="comment-badges my-1">
                {% if allow_feedback %}
                    {% include "django_comments_xtd/includes/user_feedback.html" %}
                {% endif %}

                {% if not item.comment.is_removed and item.children %}
                    <button class="badge rounded-pill mx-1" type="button" data-bs-toggle="collapse" data-bs-target="#replies-{{ item.comment.id }}" aria-expanded="false" aria-controls="replies-{{ item.comment.id }}">
                        {{ item.comment.nested_count }} <i class="bi bi-chat-fill"></i>
                    </button>
                {% endif %}

                {% if item.comment.allow_thread and not item.comment.is_removed %}
                <a class="small text-decoration-none mx-1" href="{{ item.comment.get_reply_url }}">Reply</a>
                {% endif %}
            </div>

        {% endif %}

        {% if not item.comment.is_removed and item.children %}
        <div class="collapse show border-start border-light ms-3 ps-2" id="replies-{{ item.comment.id }}">
            {% render_xtdcomment_tree with comments=item.children %}
        </div>
        {% endif %}

    </div>
    </div>
    {% endfor %}
</div>
